<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="/usr/lib/jvm/zulu-8-azure-jre-headless-tools_8.44.0.11-8.0.242-linux_musl_x64/bin/java"
                      arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot/home/site/wwwroot/app.jar&quot;">
        </httpPlatform>
    </system.webServer>
</configuration>
